In [1]:
import re

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")
sentencesDB  = client["Sentencias"]
documentCollection = sentencesDB["Sentencias Judiciales minuscula"]
sentenceCollection = sentencesDB["Sentencias Judiciales"]

In [7]:
#recuperar lista casos
with open("civiles.txt", encoding='utf-8-sig') as file:
    lista_civil = [l.rstrip("\n") for l in file]

                             conteo
comienzo de la personalidad       0
mayoría de edad                   0
capacidad de obrar                0
incapacidad de obrar              0
protección a la vida              0